[submodule "gl-cli"]
	path = gl-cli
	url = https://github.com/skalamark/gl-cli
[submodule "gl-core"]
	path = gl-core
	url = https://github.com/skalamark/gl-core
[submodule "gl-fmt"]
	path = gl-fmt
	url = https://github.com/skalamark/gl-fmt
[submodule "gl-runtime"]
	path = gl-runtime
	url = https://github.com/skalamark/gl-runtime
[submodule "gl-std"]
	path = gl-std
	url = https://github.com/skalamark/gl-std
